{
	"printWidth": 140,
	"singleQuote": true,
	"semi": true,
	"useTabs": true,
	"overrides": [
		{
			"files": ["*.md", "README"],
			"options": {
				"parser": "markdown-nocjsp"
			}
		},
		{
			"files": "*.mdx",
			"options": {
				"parser": "mdx-nocjsp"
			}
		}
	]
}
